// @font-face {
//     font-family: 'Moana';
//     src: url('../assets/fonts/Moana/MoanaFont.ttf') format('opentype');
// }

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Poppins bold';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'Poppins italic';
    src: url('../assets/fonts/Poppins/Poppins-BoldItalic.ttf') format('opentype');
}

@font-face {
    font-family: 'Poppins light';
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf') format('opentype');
}