@import url('../../styles/variables.scss');
.sparkles-wrapper {
  position: relative;
  display: inline-block;
}

.sparkles-text {
  position: relative;
  z-index: 1;
  font-size: 3rem;
  font-weight: bold;
  color: linear-gradient(135deg, var(--primaryColor), var(--secondaryColor));   
}

.sparkle {
  position: absolute;
  z-index: 0;
  pointer-events: none;
}
